{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeBunks</title>
    <link rel="stylesheet" href="{% static 'dycalendar.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <h1>Welcome {{name}}!!</h1>
    <section>
        <div class="box">
            <div class="container">
                <div id="dycalendar"></div>
            </div>
        </div>
        <div class="subcards">
        </div>
        <div id="popup" class="hidden">
            <div class="popup-content">
                <ul id="subjectList">
                </ul>
                <button id="closePopup">Close</button>
            </div>
        </div>
    </section>
    <script src="{% static "dycalendar.js" %}"></script>
    <script>
        dycalendar.draw({
            target: '#dycalendar',
            type: 'month',
            monthformat: 'full',
            highlighttargetdata: true,
            prevnextbutton: 'show'
        })

        let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
        let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        let b1 = [['Monday', 'DSP', 'DSP LAB', 'EBM', 'CG'], ['Tuesday',
            'SE LAB', 'F&NN', 'NMUP', 'DSP', 'EBM'], ['Wednesday', 'SE', 'F&NN', 'DSP', 'EBM'], ['Thursday', 'NMUP', 'CG', 'SE', 'CG LAB'], ['Friday', 'F&NN', 'NMUP', 'CG', 'SE', 'NMUP LAB']]
        console.log("in home.js");
        const unisublist = new Set();
        // Iterate through the 2D array and add elements to the Set
        for (const row of b1) {
            for (var i = 1; i < row.length; i++) {
                unisublist.add(row[i]);
            }
        }
        // Convert the Set to an array to get unique elements
        const subjects = Array.from(unisublist);
        console.log(subjects);

    </script>
    <script src="{% static "home.js" %}"></script>
</body>

</html>